.werk {
  background: rgba(0,0,0,0.75);
  font-size: 16px;
  font-weight: bold;
  color: rgba(255,255,255,0.9);
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 10000;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  visibility: hidden;
}

.werk,
.not-werk {
  transition:
    -webkit-filter 400ms ease,
    filter 400ms ease,
    visibility 800ms,
    -webkit-transform 400ms ease,
    transform 400ms ease;
}

.not-werk.blur {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.werk.is-visible {
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.werk > img {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  z-index: 10001;
  box-shadow: 0 5px 25px -5px rgba(0,0,0,0.5);
}

.werk > img.is-active {display: block}

.werk__tabs {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 10002;
}

.werk__tabs > li {
  display: inline-block;
  z-index: 10003;
  border-radius: 50%;
  margin: 2px;
}

.werk__tabs > li:hover,
.werk__close:hover {
  background-color: rgba(0,0,0,0.5);
}

.werk__tabs > li.is-active {
  background: rgba(255,255,255,0.9);
  color: rgba(0,0,0,0.75);
}

.werk__close {
  cursor: pointer;
  bottom: 0; left: 0; right: 0;
  z-index: 10003;
}

.werk__close,
.werk__tabs,
.werk__tabs li {
  height: 45px;
  line-height: 45px;
  text-align: center;
  transition: 200ms ease;
}

.werk__tabs li {
  width: 45px;
  cursor: pointer;
}

.werk > img {
  top: 0; left: 0; right: 0; bottom: 0;
  display: none;
}

.werk > img,
.werk__close {
  position: absolute;
}
