.werk {
    background: rgba(0,0,0,0.9);
    position: fixed;
    z-index: 1000;
}

.werk.is-visible {
    display: block;
}

.werk > img {
    margin: auto;
    max-height: 100%;
    max-width: 640px;
    padding-top: 60px;
    z-index: 1001;
}

.werk > img.active {display: block}

.werk .werk-tabs {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1002;
}

.werk .werk-tabs > li {
    display: inline-block;
    z-index: 1003;
}

.werk .werk-tabs > li:hover,
.werk .close:hover {
    background: #333;
}

.werk .werk-tabs > li.active {
    background: white;
    color: black;
}

.werk .close {
    font-family: "Times New Roman";
    font-size: 40px;
    top: 0; left: 0;
    z-index: 1003;
}

.werk .close, 
.werk .werk-tabs,
.werk .werk-tabs li {
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.werk .close,
.werk .werk-tabs li {
    width: 60px;
    color: white;
    cursor: pointer;
}

.werk, 
.werk > img {
    top: 0; left: 0; right: 0; bottom: 0;
    display: none;
}

.werk > img, 
.werk .close {
    position: absolute;
}